
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    background-color: dodgerblue;
    border-radius: 15px;
}

.header h1{
    color: white;
    padding: 15px;
}

.body{
    flex: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
}

#Lista_mensagem_atendent p{
    background-color: gray;
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    border-bottom: 15px;
}

#Lista_mensagem_user{
    list-style-type: none;
    width: fit-content;
    margin-left: auto;
}

#Lista_mensagem_user li{
    padding: 20px;
    justify-content: space-between;
    margin-top: 10px;
}

#Lista_mensagem_user p{
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 10px;
    list-style-type: none;
    width: fit-content;
    margin-left: auto;
}



.footer form{
    display: flex;
}

form input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
}

form button{
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}

form button:hover{
    background-color: blue;
    transition: 0.2s ease;
}